{% extends 'register/../base.html' %}
{% load static %}

{% block title %}
    Login to an Account
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <link href="{% static 'webapps2024/css/login.css' %}" rel="stylesheet"/>
    <link href="{% static 'webapps2024/css/main.css' %}" rel="stylesheet"/>


    <div class="centered-container">
        <h1>Login</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ user_login|crispy }}
            <button type="submit" class="button-center">Login</button>
        </form>
        <a href="{% url 'register:register' %}"> I want to register</a>

    </div>
{% endblock %}